<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- com아래 goodee 이런게아니라 그냥 이름자체가 com.goodee.library.member.MemberDao다.  -->
<mapper namespace="com.goodee.library.member.MemberDao">
	<select id="isMemberCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tbl_member
		<!-- #{m_id} = com.goodee.library.member.MemberDao.isMemberCheck", m_id -->
		<where>
			m_id = #{m_id}
		</where>
	</select>
	
	<insert id="insertMember" parameterType="com.goodee.library.member.MemberVo">
	INSERT INTO tbl_member(m_id, m_pw, m_name, m_gender,
	m_mail, m_phone, m_reg_date, m_mod_date)
	VALUES(#{m_id},#{m_pw},#{m_name},#{m_gender},
	#{m_mail},#{m_phone},NOW(),NOW())
	</insert>
	
	<select id="selectMember" parameterType="String"
	resultType="com.goodee.library.member.MemberVo">
		SELECT * FROM tbl_member
		<where>
			m_id = #{m_id}
		</where>
	</select>

	<!-- com아래 goodee밑에 있는 vo로 받겠다 -->
	<select id="selectMemberList" resultType="com.goodee.library.member.MemberVo"> 
		SELECT * FROM tbl_member
	</select>
	
	<!-- insert,update 결과는 int이므로 resulttype안적어줌 -->
	<!-- dao에서 namespace + "updateMember", vo 을 뜻함  -->
	<!-- update는 몇개씩업데이트할때 콤마를씀 -->
	<update id="updateMember" parameterType="com.goodee.library.member.MemberVo">
		UPDATE tbl_member
		SET m_name = #{m_name},
		m_gender = #{m_gender},
		m_mail = #{m_mail},
		m_phone = #{m_phone},
		m_mod_date = NOW()
		
		<!-- where을 적지않으면 모든 아이디에 정보가 다바뀜 -->
		<where>
			m_no = #{m_no}
		</where>
	</update> 	
	
	
	<!-- resultType="com.goodee.library.member.MemberVo" 적으면 알아서 vo에 담아줌 no를 기준으로 -->
	<select id = "selectMemberOne" parameterType="int" resultType="com.goodee.library.member.MemberVo">
		SELECT * FROM tbl_member
		<where>
			m_no = #{m_no}
		</where>
	</select>
	
	<!-- select 추가 -->
	<!-- 받아오는게 vo, 주는게 vo -->
	<select id = "selectMemberForPassword" parameterType= "com.goodee.library.member.MemberVo" resultType="com.goodee.library.member.MemberVo">
		SELECT * FROM tbl_member
		
		<!-- where절은 and  -->
		<where>
			m_id = #{m_id} AND
			m_name = #{m_name} AND
			m_mail = #{m_mail}
		</where>
	</select>
	
	<update id = "updatePassword" parameterType = "hashMap">
	<!-- tbl member 테이블에 m_pw 를 
	#{m_pw}로 변경  
	m_mod_date를 현재시간으로 변경
	조건 : m_id가 #{m_id}-->
	
	UPDATE tbl_member
	<!-- dao에 map에 key값을 m_id로했으니깐 -->
	SET m_pw = #{m_pw},
	m_mod_date = NOW()
	
	<where>
		m_id = #{m_id}
	</where>
	
	
	</update>
</mapper>
